.my-links a {
  text-decoration: none; /* Remove underline */
}

.my-links a:hover {
  color: red; /* Ensure color remains the same */
  cursor: pointer; /* Optional: Change cursor to default */
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: medium;
  text-align: center;
}

ul {
  margin: 10px;
}

.nav {
  float: right;
}

.nav-link {
  color: navy;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #68c0e9;
  border-radius: 4px;
}

.about {
  padding: 20px;
}

header {
  background-color: #68c0e9;
}
